#profile {
    margin-bottom: 20px;
}

#profile h2 {
    margin-bottom: 10px;
}

#profile button {
    background: #2481ce;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
}

#posts .post {
    margin-bottom: 20px;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}